
/* Your CSS Code here. */
.holder div{
	width:100px;
     height:100px;
	background:#333333;
	
}
.holder{
	display:grid;
	grid-template-columns: 100px 100px;
	grid-row-gap:20px;
	grid-row: auto auto;
    grid-column-gap: 20px;
}